.App {
  text-align: center;
  -ms-flex-align: center;
}

.weather {
  margin-top: 20px;
}

.weather h2 {
  margin-bottom: 10px;
}

.weather p {
  margin: 5px 0;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}